<div class="relative inline-block text-left">
    <div>
        <button class="inline-flex w-full items-center justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" (click)="isSortMenuOpen = !isSortMenuOpen" aria-expanded="true" aria-haspopup="true">
            Sort
            <span class="material-icons-outlined text-gray-400">keyboard_arrow_down</span>
        </button>
    </div>

    <div *ngIf="isSortMenuOpen" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <span class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-0">Price: Low to High</span>
            <span class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-1">Price: High to Low</span>
            <span class="block px-4 py-2 text-sm text-gray-700 cursor-pointer bg-gray-100 hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-2">Best Rating</span>
            <span class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-3">Newest</span>
        </div>
    </div>
</div>
