<section class="p-8">
	<h2 class="text-xl font-bold mb-4 tracking-wide">Filters</h2>
	<div class="mb-4">
		<span class="block mb-2 font-semibold">Price Range</span>
		<div class="flex items-baseline gap-2 mb-1">
			<input type="radio" id="priceRange0to99" name="priceRange" value="0to99" />
			<label for="priceRange0to99">0$ - 99$</label>
		</div>
		<div class="flex items-baseline gap-2 mb-1">
			<input type="radio" id="priceRange100to199" name="priceRange" value="100to199" />
			<label for="priceRange100to199">100$ - 199$</label>
		</div>
		<div class="flex items-baseline gap-2 mb-1">
			<input type="radio" id="priceRange200to299" name="priceRange" value="200to299" />
			<label for="priceRange200to299">200$ - 299$</label>
		</div>
		<div class="flex items-baseline gap-2 mb-1">
			<input type="radio" id="priceRange300to399" name="priceRange" value="300to399" />
			<label for="priceRange300to399">300$ - 399$</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="radio" id="priceRange400to499" name="priceRange" value="400to499" />
			<label for="priceRange400to499">400$ - 499$</label>
		</div>
	</div>
	<div class="mb-4">
		<span class="block mb-2 font-semibold">Category</span>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="electronics" name="category" value="electronics" />
			<label for="electronics">Electronics</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="fashion" name="category" value="fashion" />
			<label for="fashion">Fashion</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="homeAndFurniture" name="category" value="homeAndFurniture" />
			<label for="homeAndFurniture">Home and Furniture</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="beautyAndPersonalCare" name="category" value="beautyAndPersonalCare" />
			<label for="beautyAndPersonalCare">Beauty and Personal Care</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="appliances" name="category" value="appliances" />
			<label for="appliances">Appliances</label>
		</div>
	</div>
	<div class="mb-4">
		<span class="block mb-2 font-semibold">Rating</span>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="R5" name="rating" value="R5" />
			<label for="R5">5</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="R4" name="rating" value="R4" />
			<label for="R4">4</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="R3" name="rating" value="R3" />
			<label for="R3">3</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="R2" name="rating" value="R2" />
			<label for="R2">2</label>
		</div>
		<div class="flex items-baseline gap-2">
			<input type="checkbox" id="R1" name="rating" value="R1" />
			<label for="R1">1</label>
		</div>
	</div>
	<div class="flex justify-between gap-4">
		<button class="p-2 w-full rounded-md border border-[#F44336] text-[#F44336] hover:border-[#D32F2F] hover:text-[#D32F2F]">Clear</button>
		<button class="p-2 w-full rounded-md bg-[#F44336] text-white hover:bg-[#D32F2F]">Apply</button>
	</div>
</section>
