<section>

	<div class="px-8 pt-4 flex justify-end gap-4">
		<app-sort-button />
		<button class="flex items-center justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 md:hidden">
			Filters
			<span class="material-icons-outlined text-gray-400 text-sm">tune</span>
		</button>
	</div>

	<div class="p-8 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-8">
		<ng-container *ngFor="let product of products">
			<div class="flex flex-col rounded-lg bg-white border border-gray-200 shadow">
				<div>
					<img [src]="product.imageUrl" [alt]="product.name" class="w-full h-[240px] rounded-t-lg object-cover">
				</div>
				<div class="p-4 flex flex-col gap-2 flex-1">
					<h5 class="text-gray-900 text-xl font-semibold">{{ product.name }}</h5>
					<p class="text-gray-700">{{ product.description }}</p>
				</div>
				<div class="p-4">
					<button class="w-full flex items-center justify-center gap-2 p-2 rounded-md border border-[#F44336] text-[#F44336] bg-white hover:bg-[#F44336] hover:text-white transition" (click)="addToCart()">
						<span class="material-icons-outlined">add_shopping_cart</span>
						Add to Cart
					</button>
				</div>
			</div>
		</ng-container>
	</div>
</section>
